<div class="navbar-wagon">
  <div class="wrapper-navbar">
    <%= link_to 'Recipes', cocktails_path %>
    <%= image_tag 'drink.png' %>
    <%= link_to 'Add new', new_cocktail_path %>
  </div>
</div>
